* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body {
    background: #9ACFEA;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
//定义通用样式
.color-font_size(@color, @font-size) {
    color: @color;
    font-size: @font-size;
}
.hend-style {
    .hend {
        font-weight: bold;
        text-align: center;
        margin-left: -2px;
        a {
            height: 30px;
            background: white;
            line-height: 30px;
            display: block;
            font-size: 14px;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                background: #2FB593;
                color: white;
            }
            &:visited {
                color: black;
            }
        }
    }
}
.box-a {
    width: 270px;
    height: 365px;
    display: inline-block;
}
.fp{
    figure{
        p{
            width: 200px;
        }
    }
    .hend{
        width: 265px;
    }
}

//头部信息
.header {
    .logo {
        float: left;
    }
    .logo-font {
        font-weight: bold;
        line-height: 100px;
        font-size: 14px;
        color: #449D44;
    }
    .nav-top {
        float: right;
        ul {
            li {
                float: left;
                cursor: pointer;
                padding: 15px;
                background: #74adaa;
                color: white;
                &:hover {
                    background: #ccc;
                }
            }
        }
        .search {
            position: relative;
            float: right;
            background: #DCDCDC;
            input[type="text"] {
                width: 261px;
                border: none;
                padding: 10px 20px;
                background: none;
            }
            input[type="submit"] {
                border: none;
                position: absolute;
                right: 0;
                top: 0;
                background: url("../img/img-sprite.png") no-repeat -5px -8px;
                width: 30px;
                height: 35px;
            }
        }
    }
}
//尾部信息
.footer {
    width: 90%;
    margin: 0 auto;
    background: #555;
    &-middle-in {
        float: left;
        padding: 10px 0;
        h3 {
            .color-font_size(white,20px);
            padding: 2px 0 2px 2px;
            display: block;
        }
        p {
            .color-font_size(#989494,14px);
            line-height: 16px;
            width: 80%;
            transform: all 0.5s;
        }
        li a {
            .color-font_size(#989494,14px);
            line-height: 22px;
            transition: all 0.5s;
            &:hover {
                text-decoration: none;
                color: #5CB85C;
            }
        }
    }
    &-class {
        background: #51938f;
        text-align: center;
        .color-font_size(white,16px);
        padding: 10px 0;
    }
}
.nav-title {
    margin-top: 20px;
    .nav-tabs li{
        background: #ccc;
    }
    .tab-content {
        margin-left: -13px;
        .content {
            .ong-img1 {
                margin-bottom: 30px;
                .hend-style;
            }
            .ong-img2 {
                margin-bottom: 30px;
                .hend-style;
            }
            .two-img1 {
                margin-bottom: 30px;
                .hend-style;
            }
            .two-img2 {
                margin-bottom: 30px;
                .hend-style;
            }
            .three-img1 {
                margin-bottom: 30px;
                .hend-style;
            }
            .three-img2 {
                margin-bottom: 30px;
                .hend-style;
            }
            .p {
                text-align: center;
                line-height: 35px;
                margin-bottom: 20px;
                a {
                    display: block;
                    margin: 0 auto;
                    width: 50%;
                    height: 35px;
                    font-size: 14px;
                    background: #ccc;
                    transition: all 0.3s;
                    &:hover {
                        background: #48CFAD;
                        color: white;
                    }
                }
            }
        }
    }
}
.specialty-item {
    text-align: center;
    .box1 {
        padding: 5px 0;
        a {
            .box-a;
            background: url("../img/traveler-choice.png") no-repeat;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .box2 {
        padding: 5px 0;
        a {
            .box-a;
            background: url("../img/city_guide.png") no-repeat;
            &:hover {
                opacity: 0.5;
            }
            span {
                color: white;
                font-size: 50px;
            }
        }
    }
    .box3 {
        padding: 5px 0;
        a {
            .box-a;
            background: url("../img/tourism_blog.png") no-repeat;
            &:hover {
                opacity: 0.5;
            }
            span {
                color: white;
                font-size: 50px;
            }
        }
    }
    .box4 {
        padding: 5px 0;
        a {
            .box-a;
            background: url("../img/download_application.png") no-repeat;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    h3 {
        color: white;
        font-weight: bold;
    }
    p {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}
.link {
    margin: 10px auto;
    .xian {
        border-top: 1px solid #666;
        margin: 30px auto;
    }
    ul {
        li {
            float: left;
            padding-bottom: 5px;
            padding-right: 20px;
            a {
                font-size: 14px;
                color: #666;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .header .logo img {
        width: 50px;
        transition: all 0.3s;
    }
    .header .row .logo-font {
        line-height: 50px;
        font-size: 12px;
    }
    .header .row .nav-font {
        line-height: 150px;
    }
    .content img {
        width: 265px;
    }
    .content .ong-img1{
        .fp;
    }
    .content .ong-img2{
        .fp;
    }
    .content .two-img1{
        .fp;
    }
    .content .two-img2{
        .fp;
    }
    .content .three-img1{
        .fp;
    }
    .content .three-img2{
        .fp;
    }
    .nav-title .nav-tabs li a {
        width: 64px;
    }
}
@media (min-width: 992px) {
    .header .logo img {
        width: 100px;
    }
    .header .row .logo-font {
        line-height: 100px;
    }
}
@media (min-width: 1200px) {
    .header .logo img {
        width: 100px;
    }
    .header .row .logo-font {
        line-height: 100px;
    }
}