* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  background: white;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
.hend-style .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.hend-style .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.hend-style .hend a:hover {
  background: #478480;
  color: black;
}
.hend-style .hend a:visited {
  color: white;
}
.box-a {
  width: 270px;
  height: 365px;
  display: inline-block;
}
.fp {
  margin-left: -15px;
}
.fp figure p {
  width: 200px;
}
.fp .hend {
  width: 265px;
}
.box .nav .col-md-3 {
  padding: 0px;
  border: 2px solid #0B859C;
  margin-bottom: 2px;
}
#sanjiaoxing {
  width: 0px;
  height: 0px;
  border-width: 18px;
  border-color: transparent gold transparent transparent;
  border-style: dashed solid dashed dashed;
  position: absolute;
  right: 72px;
  top: 15px;
}
.ranking {
  position: absolute;
  width: 76px;
  height: 36px;
  right: -3px;
  top: 15px;
  line-height: 38px;
  font-size: 16px;
  font-style: italic;
  font-family: Krungthep, "Microsoft YaHei", arial;
  text-align: center;
  color: #000;
  font-weight: 700;
  background: gold;
}
.banner {
  margin-top: -20px;
  position: relative;
}
.banner .little-box {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 20px;
  background: orangered;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.banner .little-box:hover {
  background: green;
}
.nav-title .nav-tabs li {
  font-weight: bold;
  background: #74adaa;
}
.nav-title .nav-tabs li a {
  text-align: center;
}
.nav-title .nav-tabs li a:hover {
  color: white;
  font-weight: bold;
  text-align: center;
  background: #478480;
}
.nav-title .tab-content {
  margin-left: -13px;
}
.nav-title .tab-content .content .ong-img1 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .ong-img1 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .ong-img1 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .ong-img1 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .ong-img1 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .ong-img2 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .ong-img2 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .ong-img2 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .ong-img2 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .ong-img2 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .two-img1 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .two-img1 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .two-img1 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .two-img1 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .two-img1 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .two-img2 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .two-img2 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .two-img2 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .two-img2 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .two-img2 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .three-img1 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .three-img1 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .three-img1 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .three-img1 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .three-img1 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .three-img2 {
  margin-bottom: 30px;
}
.nav-title .tab-content .content .three-img2 .hend {
  font-weight: bold;
  text-align: center;
  margin-left: -2px;
}
.nav-title .tab-content .content .three-img2 .hend a {
  height: 30px;
  background: #74adaa;
  line-height: 30px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-title .tab-content .content .three-img2 .hend a:hover {
  background: #478480;
  color: black;
}
.nav-title .tab-content .content .three-img2 .hend a:visited {
  color: white;
}
.nav-title .tab-content .content .p {
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
}
.nav-title .tab-content .content .p a {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 35px;
  font-size: 14px;
  background: #74adaa;
  transition: all 0.3s;
}
.nav-title .tab-content .content .p a:hover {
  background: #478480;
  color: white;
}
.specialty-item {
  text-align: center;
}
.specialty-item .box1 {
  padding: 5px 0;
}
.specialty-item .box1 a {
  width: 270px;
  height: 365px;
  display: inline-block;
  background: url("../img/traveler-choice.png") no-repeat;
}
.specialty-item .box1 a:hover {
  opacity: 0.5;
}
.specialty-item .box2 {
  padding: 5px 0;
}
.specialty-item .box2 a {
  width: 270px;
  height: 365px;
  display: inline-block;
  background: url("../img/city_guide.png") no-repeat;
}
.specialty-item .box2 a:hover {
  opacity: 0.5;
}
.specialty-item .box2 a span {
  color: white;
  font-size: 50px;
}
.specialty-item .box3 {
  padding: 5px 0;
}
.specialty-item .box3 a {
  width: 270px;
  height: 365px;
  display: inline-block;
  background: url("../img/tourism_blog.png") no-repeat;
}
.specialty-item .box3 a:hover {
  opacity: 0.5;
}
.specialty-item .box3 a span {
  color: white;
  font-size: 50px;
}
.specialty-item .box4 {
  padding: 5px 0;
}
.specialty-item .box4 a {
  width: 270px;
  height: 365px;
  display: inline-block;
  background: url("../img/download_application.png") no-repeat;
}
.specialty-item .box4 a:hover {
  opacity: 0.5;
}
.specialty-item h3 {
  color: white;
  font-weight: bold;
}
.specialty-item p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.link {
  margin: 10px auto;
}
.link .xian {
  border-top: 1px solid #666;
  margin: 30px auto;
}
.link ul li {
  float: left;
  padding-bottom: 5px;
  padding-right: 20px;
}
.link ul li a {
  font-size: 14px;
  color: #666;
}
.link ul li a:hover {
  color: blue;
}
@media (max-width: 768px) {
  .banner .little-box {
    width: 70px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 20px;
    left: 170px;
  }
  .banner img {
    margin-left: -9px;
  }
  .content img {
    width: 265px;
  }
  .content .ong-img1 {
    margin-left: -15px;
  }
  .content .ong-img1 figure p {
    width: 200px;
  }
  .content .ong-img1 .hend {
    width: 265px;
  }
  .content .ong-img2 {
    margin-left: -15px;
  }
  .content .ong-img2 figure p {
    width: 200px;
  }
  .content .ong-img2 .hend {
    width: 265px;
  }
  .content .two-img1 {
    margin-left: -15px;
  }
  .content .two-img1 figure p {
    width: 200px;
  }
  .content .two-img1 .hend {
    width: 265px;
  }
  .content .two-img2 {
    margin-left: -15px;
  }
  .content .two-img2 figure p {
    width: 200px;
  }
  .content .two-img2 .hend {
    width: 265px;
  }
  .content .three-img1 {
    margin-left: -15px;
  }
  .content .three-img1 figure p {
    width: 200px;
  }
  .content .three-img1 .hend {
    width: 265px;
  }
  .content .three-img2 {
    margin-left: -15px;
  }
  .content .three-img2 figure p {
    width: 200px;
  }
  .content .three-img2 .hend {
    width: 265px;
  }
  .nav-title .nav-tabs li {
    margin-left: -10px;
  }
  .nav-title .nav-tabs li a {
    width: 61px;
  }
  .specialty-item {
    margin-left: -14px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/*# sourceMappingURL=index.css.map */
